<!--List of smansa user-->
{% if alumniSmansauserList %}
<ul>

  {% for author in alumniSmansauserList %}
    <li>
      <strong>{{author}}</strong> 
      —<a href="{% url 'users:authorDetail' author.pk %}"> Detail </a>
      {% if author.verified_by == 0 %}
        {% if user.is_superuser %}
          —<a href="{% url 'users:authorVerify' author.pk %}"> Verify </a>
        {% else %}
          — Need verification 
        {% endif %}
      {% else %}
        <a href="{% url 'articles:articlesByAuthor' author.pk %}">Blog </a>
      {% endif %}
    </li>
  {% endfor %}

</ul>
<!--For pagination includes, from blog app-->
{% include 'includes/pagination.html' %}

{% else %}
  <p>There are no authors in the list yet.</p>
{% endif %}       
