<!--Smansa user detail used in several html throug include-->
<h1>Alumni Smansa User Detial</h1>
<p><strong>Username</strong></p>
<p>{{ alumniSmansaUser.username }}</p>
<p><strong>Mobile phone : </strong></p>
<p>{{ alumniSmansaUser.mobile_number }}</p>
<p><strong>Address</strong></p>
<p>{{ alumniSmansaUser.address }}</p>
<p><strong>Bio data</strong></p>
<p>{{ alumniSmansaUser.bio }}</p>
<hr>

<!--Logic for User-->
{% if user.pk == alumniSmansaUser.pk %}
  <a href="{% url 'users:authorUpdate' alumniSmansaUser.pk %}"> Update </a>—
{% endif %}

{% if user.is_superuser %}
  <a href="{% url 'users:authorDelete' alumniSmansaUser.pk %}"> Delete </a>
  —<a href="{% url 'users:authorVerify' alumniSmansaUser.pk %}"> Update to Admin </a>
  {% if alumniSmansaUser.verified_by == 0 %}
    —<a href="{% url 'users:authorVerify' alumniSmansaUser.pk %}"> Verify </a>
  {% else %}
    —<a href="{% url 'articles:articlesByAuthor' alumniSmansaUser.pk %}">Blog list</a>
  {% endif %}
{% else %}
  {% if alumniSmansaUser.verified_by == 0 %}
    Need verification 
  {% else %}
    <a href="{% url 'articles:articlesByAuthor' alumniSmansaUser.pk %}">Blog list</a>
  {% endif %}
{% endif %}
