<!--Smansa user detail used in several html throug include-->
<h1>Alumni Smansa User Detail</h1>
<p><strong>Username</strong></p>
<p>{{ alumnismansauser.username }}</p>
<p><strong>Mobile phone : </strong></p>
<p>{{ alumnismansauser.mobile_number }}</p>
<p><strong>Address</strong></p>
<p>{{ alumnismansauser.address }}</p>
<p><strong>Bio data</strong></p>
<p>{{ alumnismansauser.bio }}</p>
<hr>

<!--Logic for User-->
{% if user.pk == alumnismansauser.pk %}
  <a href="{% url 'users:authorUpdate' alumnismansauser.pk %}"> Update </a>—
{% endif %}

{% if user.is_superuser %}
  <a href="{% url 'users:authorDelete' alumnismansauser.pk %}"> Delete </a>
  —<a href="{% url 'users:authorVerify' alumnismansauser.pk %}"> Update to Admin </a>
  {% if alumnismansauser.verified_by == 0 %}
    —<a href="{% url 'users:authorVerify' alumnismansauser.pk %}"> Verify </a>
  {% else %}
    —<a href="{% url 'articles:articlesByAuthor' alumnismansauser.pk %}">Blog list</a>
  {% endif %}
{% else %}
  {% if alumnismansauser.verified_by == 0 %}
    Need verification 
  {% else %}
    <a href="{% url 'articles:articlesByAuthor' alumnismansauser.pk %}">Blog list</a>
  {% endif %}
{% endif %}
