{% extends 'baseArticle.html' %}
{% load crispy_forms_tags %}

{% block title %}List Author by author{% endblock %}

{% block content %}
    <h1>Author: {{author}}</h1>
    
    <h3>Bio</h3>
    
    <p>{{author.bio}}</p>
    
    

    {% if articleList %}
    <h3>Authors list</h3>
    <ul>

      {% for article in articleList %}
      <li>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a> ({{article.post_date}})</a>
      </li>
      {% endfor %}

    </ul>
    <!--For pagination includes-->
    {% include 'includes/pagination.html' %}

    {% else %}
      <p>This author hasn't posted anything yet.</p>
    {% endif %}       
{% endblock %}

