{% extends 'baseAlumniSmansa.html' %}
{% load crispy_forms_tags %}

{% block title %}Active Author List{% endblock %}

{% block sidebar %}
    <ul class="sidebar-nav">
        <li><a href="{% url 'articles:articles' %}">All articles</a></li>
        <li><a href="{% url 'users:authorsNew' %}">New authors</a></li>
        <li><a href="{% url 'users:authorsActive' %}">Active authors</a></li>
    </ul>        
{% endblock %}

{% block content %}
  <h1>Active authors</h1>

  <!--For listing includes, from users app-->
  {% include 'includes/alumniSmansaUserList.html' %}

{% endblock %}

