{% extends 'baseAlumniSmansa.html' %}
{% load crispy_forms_tags %}

{% block title %}User Admin{% endblock %}

{% block sidebar %}
<ul class="sidebar-nav">
  <ul class="sidebar-nav">
    <li><a href="{% url 'articles:articles' %}">All articles</a></li>
    <li><a href="{% url 'users:authorsNew' %}">New authors</a></li>
    <li><a href="{% url 'users:authorsActive' %}">Active authors</a></li>
  </ul>        
</ul>        
{% endblock %}

{% block content %}
<h3>{{caption}}</h3>

<ul>
  <li>Authors : {{authors}}</li>
  <li>New Comers : {{newComers}}</li>
  <li>Active Authors : {{activeAuthors}}</li>
  <hr>
  <li>Total Articles : {{articles}}</li>
</ul>
{% endblock %}
